{{page-title "Datatest"}}

{{outlet}}
<h1>Post {{this.model.id}}</h1>
<h5>Comments</h5>
{{!-- {{#each this.model.authorsTracked as |author|}} --}}
{{#each this.model.authors as |author|}}
  {{author.id}}
{{/each}}
